.modal-result {
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 82, 82, 0.9);
    top: 0;
    left: 0;
    overflow: auto;
    padding-left: 10px;
}

.confirmacion-texto {
    background-color: transparent;
    margin: 0 auto;
    text-align: center;
}

.card-img-overlay .card-text {
    font-size: 5vw;
}

.confirmacion-texto button#cerrar-confirm {
    font-size: 2.5vw;
}

.modal-inicio {
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(222, 235, 252);
    top: 0;
    left: 0;
    overflow: auto;
    padding-left: 10px;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #b2bffa;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

main {
    height: 85vh;
}

label.star {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.clasificacion label.star:hover,
.clasificacion label.star:hover~label {
    color: orange;
    cursor: pointer;
}

.clasificacion input[type="radio"]:checked~label {
    color: orange;
}


.buttonflecha {
    background-color: transparent;
    border: none;
    color:transparent;
    text-decoration: none;
    display: inline-block;
    height: 60px;
    width: 60px;
    font-size: 16px;
    margin: 4px 2px;
    
  }

.buttonredondo {
      border-radius: 50%;   
}


