{literal}
<div v-for="comment in comentarios" class="mt-1">
    <li class="list-group-item list-group-item-primary p-0 text-left">
        <span class="ml-2 w-100">{{comment.user}}</span>
        <span v-for="n in 5" v-if="n <= comment.valoracion" class="float-right mr-1">★</span>
        <span class="float-right mr-1" v-else>☆</span>
        <p class="text-sm-center ">{{comment.comentario}}</p>
    </li>
    <button v-if="isAdmin==1" v-on:click="deleteComment" v-bind:id="comment.id" class="btn btn-danger btn-sm float-right mb-1">
        <i class="fas fa-eraser "></i> Eliminar
    </button>
</div>
{/literal}