{literal}
<section id="app" class='row w-90 '>

    <div v-if="list.length>0" v-for="lis in list">
        <div class='card row ml-5 mt-5' style='width: 17rem'>
            <img v-if="lis.emp_image !== ''" v-bind:src=lis.emp_image width="350" height="250" class="card-img" alt="...">
            <img v-else src=./img/foto.jpg width="350" height="250" class="card-img" alt="...">
            
            <div class='card-body'>
                <p class='card-text'>{{lis.apellido}}, {{lis.nombre}}</p>
                <p class='card-text'>{{lis.profesion}}</p>
                <a v-bind:href="'seeProfile/'+lis.id_emp" v-bind:id='lis.id_emp' class='btn btn-info'>
                    Ver datos de Contacto
                </a>
            </div>
        </div>
    </div>
    <div v-show="list.length==0">
        <div class="alert alert-danger mt-5 row-2 offset-md-1 " role="alert">
            <h2 class="offset-md-1 justify-center">No hay empleados para esta categoria y/o busqueda</h2>

            <div class="col-4 offset-md-4 ">
                <img src="./img/singente.jpg" class='img-thumbnail'>

                <p style="color:#03225C;">Lamentamos que no haya ningun trabajador para esta categoria y esperamos que pronto se sume a esta red, con dicha ocupacion</p>

            </div>

        </div>
    </div>

</section>

{/literal}