{include 'header.tpl'}

<div class='container mt-5 d-flex align-items-center'>
  <div class="row">
    <div class="col-lg-6 text-center h3">
      ¿Desea contratar a alguien?
      <a class="btn btn-outline-primary col-12 mt-2" href=newAcountUser>
        <span class="h3">Quiero contratar<span> 
      </a> 
    </div>
    <div class="col-lg-6 text-center h3">
      ¿Desea trabajar?
      <a class="btn btn-outline-secondary col-12 mt-2" href=createAcount>
        <span class="h3">Quiero trabajar<span>
      </a>
    </div>
  </div>
</div>

{include 'footer.tpl'}