
    
  <div class='container'>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Alta Exitosa !</h4>
            <h3> Bienvenido {$nombre}!!!</h3>
            <p> A partir de este momento ya estas en los listados de nuestra pagina. Te deseamos el mayor de los exitos!</p>
            <img src="{$photo}" alt="" width="75" height="75">      
        <hr>
        <p class="mb-0"></p>
    </div>

</div>
{include 'footer.tpl'}