
{include 'header.tpl'}

<div class='column'>
    
    <div class='btn-group-vertical'>                
      {foreach from=$professions item=$profession}           
        <button type='submit' class='btn btn-info' id='listado' name={$profession->id} style='width: 150px'>{$profession->profesion}</button>
      {/foreach}  
      <a type='submit' class='btn btn-info' style='width: 150px' href="home">Ver todos</a>
    </div>
 
  </div>
</div> 

 
